$namespace_icons_prefix:						'icon';

$namespace_icon_separator:						'--';

$namespace_icon_active:							'active' !default;
$namespace_icon_inactive:						'inactive' !default;

$namespace_icon_battery:						'battery';
$namespace_icon_battery_min:					'min';
$namespace_icon_battery_half:					'half';
$namespace_icon_battery_max:					'max';
$namespace_icon_battery_animate:				'animate';
$namespace_icon_battery_animate_alt:			'animate_alt';
$namespace_icon_battery_active:					$namespace_icon_active;
$namespace_icon_battery_inactive:				$namespace_icon_inactive;




$namespace_icon_mug:							'mug';
$namespace_icon_mug_min:						'min';
$namespace_icon_mug_half:						'half';
$namespace_icon_mug_max:						'max';
$namespace_icon_mug_full:						'full';
$namespace_icon_mug_animate:					'animate';
$namespace_icon_mug_animate_alt:				'animate_alt';
$namespace_icon_mug_active:						'active';
$namespace_icon_mug_inactive:					'inactive';


$namespace_icon_heart:							'heart';
$namespace_icon_heart_animate:					'animate';


$namespace_icon_buble:							'buble';
$namespace_icon_buble_animate:					'animate';


$namespace_icon_loader:							'loader';
$namespace_icon_loader_animate:					'animate';


$namespace_icon_download:						'download';
$namespace_icon_upload:							'upload';
$namespace_icon_download_animate:				'animate';
$namespace_icon_upload_animate:					'animate';


$namespace_icon_pacman:							'pacman';
