.#{$namespace_icons_prefix}-woofer {
	margin: 0 ($multiply * 2em);
	width: ($multiply * 12em);
	height: ($multiply * 16em);
	border-radius: ($multiply * 1em);
	background: $main_color;
	&::before {
		top: ($multiply * 7em);
		left: ($multiply * 2em);
		width: ($multiply * 4em);
		height: ($multiply * 4em);
		border-radius: ($multiply * 4em);
		border: ($multiply * 2em) solid $secondary_color;
	}
	&::after {
		top: ($multiply * 2em);
		left: ($multiply * 4em);
		width: ($multiply * 2em);
		height: ($multiply * 2em);
		border-radius: ($multiply * 4em);
		border: ($multiply * 1em) solid $secondary_color;
	}
}
