.#{$namespace_icons_prefix}-iphone {
	margin: ($multiply * 0 0.21875em);
	width: ($multiply * 7em);
	height: ($multiply * 11em);
	border:  ($multiply * 1em) solid $main_color;
	border-top:  ($multiply * 2em) solid $main_color;
	border-bottom: ($multiply * 3em) solid $main_color;
	border-radius: ($multiply * 1em);
	&::before {
		top: ($multiply * 12em);
		left: ($multiply * 3em);
		width: ($multiply * 1em);
		height: ($multiply * 1em);
		border-radius: ($multiply * 2em);
		background: $secondary_color;
	}
}
