.#{$namespace_icons_prefix}-capsule {
	&::before {
		top: 0;
		left: ($multiply * 7em);
		width: ($multiply * 8em);
		height: ($multiply * 10em);
		border-radius: ($multiply * 16em) ($multiply * 16em) 0 0;
		background: $main_color;
		transform: rotate(45deg);
	}
	&::after {
		top: ($multiply * 8em);
		left: 0;
		width: ($multiply * 8em);
		height: ($multiply * 8em);
		border-radius: 0 0 ($multiply * 16em) ($multiply * 16em);
		background: $main_color;
		transform: rotate(45deg);
	}
}
