.#{$namespace_icons_prefix}-rss {
	width: ($multiply * 13em);
	height: ($multiply * 13em);
	border-top: ($multiply * 3em) solid $main_color;
	border-right: ($multiply * 3em) solid $main_color;
	border-radius: 0 ($multiply * 15em) 0 0;
	&::before {
		top: ($multiply * 3em);
		left: 0;
		width: ($multiply * 7em);
		height: ($multiply * 7em);
		border-top: ($multiply * 3em) solid $main_color;
		border-right: ($multiply * 3em) solid $main_color;
		border-radius: 0 ($multiply * 9em) 0 0;
	}
	&::after {
		top: ($multiply * 9em);
		left: 0;
		width: ($multiply * 4em);
		height: ($multiply * 4em);
		border-radius: ($multiply * 2em);
		background: $main_color;
	}
}
